#footer{
    background-color: #8967b6;
    height: 150px;
}

.contenido-footer{
    background-color: #8967b6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contenido-footer button{
    background-color: #553f8c;
    width: 130%;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease; 
}

.contenido-footer button:hover {
    background-color: #9784b9;
    transform: scale(1.1);
}
.contenido-footer button a {
    text-decoration: none;
    color: rgb(224, 219, 219);
    transition: font-size 0.9s ease;
}

.contenido-footer button:hover a {
    font-size: 18px;
    color: black;
    
}